<ul class="nav nav-tabs">
    <li class="nav-item">
        <span class="nav-link" [ngClass]="(selectedTab == TabType.Sentence)? 'active' : ''"
            (click)="selectedTab = TabType.Sentence" style="cursor: pointer;">Sentence</span>
    </li>
    <li class="nav-item">
        <span class="nav-link" [ngClass]="(selectedTab == TabType.Relation)? 'active' : ''"
            (click)="selectedTab = TabType.Relation" style="cursor: pointer;">Relation</span>
    </li>
    <li class="nav-item">
        <span class="nav-link" [ngClass]="(selectedTab == TabType.AddRelation)? 'active' : ''"
            (click)="selectedTab = TabType.AddRelation" style="cursor: pointer;">Add Annotation</span>
    </li>
    <li class="nav-item">
        <span class="nav-link " [ngClass]="(selectedTab == TabType.Output)? 'active' : ''"
            (click)="selectedTab = TabType.Output" style="cursor: pointer;">Output</span>
    </li>
</ul>

<container-element [ngSwitch]="selectedTab">
    <!-- the same view can be shown in more than one case -->
    <some-element *ngSwitchCase="TabType.Sentence">
        <app-tab-sentence></app-tab-sentence>
    </some-element>
    <some-element *ngSwitchCase="TabType.Relation">
        <app-tab-relation></app-tab-relation>
    </some-element>
    <some-element *ngSwitchCase="TabType.Output">
        <app-tab-output></app-tab-output>
    </some-element>
    <some-other-element *ngSwitchCase="TabType.AddRelation">
        <app-tab-add-relation></app-tab-add-relation>
    </some-other-element>
    <!--default case when there are no matches -->
    <some-element *ngSwitchDefault>...</some-element>
  </container-element>

